// Main color
$black: #000000;
$white: #ffffff;
$dark-gray: lighten($black, 20%);
$gray: lighten($black, 40%);
$light-gray: lighten($black, 60%);
$lighter-gray: lighten($black, 80%);

$accent: #ed2553;